<br>
<button (click)="backToHome()"> Log Out </button>
<br>

<h1>Item Catalog</h1>

<ul>
    <li *ngFor="let item of items; let j = index" >
        
        <div class ="list" (click)="viewDesc(item,j)">
            {{item}}
        </div>
        
        
        <div class ="rating">
            <span>Add a Comment/Rating:</span><br>
            <input #comment type="text" placeholder= "Comment"><br>
            <input #rating type = "number" id = "ratingnum"> /5 <br>
            <button (click) = "addRating(item, comment.value, rating.value)"> Add Rating </button>
        </div>
        
        <br> <input #quantity type = "number" placeholder = "Quantity">
        <button (click) = "addtoCart(item, quantity.value, j)"> Add to Cart </button> <br> <br>
        
        <div *ngIf = "descFound[j]==true">
            <div id = "descContainer">
                <strong>Description: </strong><br>
                <span>{{itemDescription[j]}}</span><br><br>
                <div id = "Ratings">
                    <strong>Ratings: </strong><br>
                    <span> {{ratingArr[j]}}</span> 
                </div>
            </div>
        </div>
        
    </li>
</ul>


<br><h1>Shopping Cart</h1>
<div class = "shoppingcart">
    <ul>
        <li *ngFor="let shop of shoppingCart; let i = index">
            <div class = "shopList">
                {{shop}} 
            </div>
            <button (click) = "deletefromCart(shop,i)"> Delete From Cart </button>
        </li>
    </ul>

    <br><span id="subtotal"> Subtotal: ${{subtotal}}</span><br><br>
    <button id = "clear"(click) = "clearCart()"> Clear Cart </button>
    <button (click) = "buy()"> Buy Items</button>
</div>


<br><h1>Item Collections</h1>
