<br>
<button (click)="backToHome()"> Log Out </button>
<br>

<h1>Item Catalog</h1>

<ul>
    <li *ngFor="let item of items; let j = index" >
        
        <div class ="list" (click)="viewDesc(item,j)">
            {{item}}
        </div>
        
        
        <div class ="rating">
            <span>Add a Comment/Rating:</span><br>
            <input #comment type="text" placeholder= "Comment"><br>
            <input #rating type = "number" id = "ratingnum"> /5 <br>
            <button (click) = "addRating(item, comment.value, rating.value)"> Add Rating </button>
        </div>
        
        <br> <input #quantity type = "number" placeholder = "Quantity">
        <button id= "addtocart" (click) = "addtoCart(item, quantity.value, j)"> Add to Cart </button> 
        <button (click) = "addtoCollection(item, j, quantity.value)"> Add to Collection </button> 
        
        <br> <br>
        
        <div *ngIf = "descFound[j]==true">
            <div id = "descContainer">
                <strong>Description: </strong><br>
                <span>{{itemDescription[j]}}</span><br><br>
                <div id = "Ratings">
                    <strong>Ratings: </strong><br>
                    <span> {{ratingArr[j]}}</span> 
                </div>
            </div>
        </div>
        
    </li>
</ul>


<br><h1>Shopping Cart</h1>
<div class = "shoppingcart">
    <ul>
        <li *ngFor="let shop of shoppingCart; let i = index">
            <div class = "shopList">
                {{shop}} 
            </div>
            <div class = "shopBtns">
                <button (click) = "deletefromCart(shop,i)"> Delete From Cart </button>
                <input id="cartQuan" #newQuan type="number" placeholder= "Quantity">
                <button (click) = "updateCartQuantity(shop, newQuan.value, i)"> Update Quantity </button>
            </div>
        </li>
    </ul>

    <br><span id="subtotal"> Subtotal: ${{subtotal}}</span><br><br>
    <button id = "clear"(click) = "clearCart()"> Clear Cart </button>
    <button (click) = "buy()"> Buy Items</button>
</div><br>


<br><br><br><h1>Item Collections</h1>

<div class = "addtoColl">
    <h2>Add to Collections: </h2>
    Name Collection: <input #collName type = "text" placeholder = "Collection Name"> <br> <br>
    
    <ul>
        <li *ngFor="let unsaved of unsavedColl; let f = index">
            <div class = "unsavedColl">
                {{unsaved}} 
            </div>
            <button (click) = "deletefromCollection(f)"> Delete From Collection </button>
        </li>
    </ul>
    
    <br> Is this collection public? <input #isPublic type = "text" id = "isPublic" placeholder = "Type 'yes' or 'no' ">
    <button (click) = "saveCollection(collName.value, isPublic.value)"> Save Collection</button>
</div>



<br><br><h2>Your Collections: </h2>

<ul>
    <li *ngFor="let name of userCollName; let t = index">
        <div class = "savedColl">
            <div id = "collectionTitle">
                {{name}}<br>
                <input #rename type="text" placeholder= "New Name">
                <button id = "rename" (click) = "renameCollection(rename.value, name)"> Rename </button>
                <button (click) = "deleteCollection(name)"> Delete </button>
            </div>
             
         <br>
             <div id = "collectionData">
                 {{userCollData[t]}}
             </div>
        </div>
    </li>
</ul>
    


<br><h2>Other Public Collections: </h2>

<ul>
    <li *ngFor="let title of pubCollName; let g = index">
        <div class = "savedColl">
            <div id = "collectionTitle">
                {{title}} 
            </div>
             
         <br>
             <div id = "collectionData">
                 {{pubCollData[g]}}
                 
                 
             </div>
        </div>
    </li>
</ul>