.list{
  margin: 15px 0;
  width: 100px;
  border: 2px solid blue;
}

.rating{
  margin-top:-100px;
  margin-left: 110px;
  width: 200px;
  border: 2px solid black;
}

.shopList{
   border: 2px solid blue;
   width: 450px;
}

.shoppingcart{
  border: 2px solid black;
  width: 550px;
}

.addtoColl{
  border: 2px solid black;
  width: 550px;
}

.unsavedColl{
  margin: 15px 0;
  border: 2px solid blue;
  width: 450px;
}

.savedColl{
  width:600px;
  
}

.shopBtns{
  margin-bottom: 25px;
}

#cartQuan{
  margin-left: 139px;
  width: 80px;
}

#rename{
  margin-right: 310px;
}

#collectionTitle{
  width: 600px;
  border: 2px solid red;
}

#collectionData{
  width: 600px;
  border: 2px solid black;
  margin-bottom: 55px;
}

#ratingnum{
  width:30px;
}

#Ratings{
  width:200px;
}

#descContainer{
  border: 2px solid red;
  width:220px;
}

#subtotal{
  border: 2px solid yellow;
  background-color:yellow;
}

#clear{
  margin-right: 397px;
}

#addtocart{
  margin-right: 20px;
}

#isPublic{
  margin-right: 110px;
}