<div align="center">
  <div align="center" class="loginUser">
    <h2> Log in as a User </h2>
    <form #f = "ngForm">
      Email:<br><input #username type="email" ngModel name = "email" placeholder="Email" required email><br><br>
      Password:<br><input #password type="password" placeholder="Password" required password><br><br>
      <button [disabled] = "!f.valid" (click)= "loginUser(username.value, password.value)"> Log in </button>
      <p *ngIf="!f.valid">
        Enter a valid email to log in.
      </p>
    </form>
    <br><button (click)="backToHome()"> Back to Home </button>
  </div>
</div>