<br>
<button (click)="backToHome()"> Back to Home </button>
<br>

<h1>Item Catalog</h1>

<ul>
    <li *ngFor="let item of items; let j = index">
        
        <div class ="list" (click)="viewDesc(item,j)">
            {{item}}
        </div>
        
        
        <div *ngIf = "descFound[j]==true">
            <div id = "descContainer">
                <strong>Description: </strong><br>
                <span>{{itemDescription[j]}}</span><br><br>
                <div id = "Ratings">
                    <strong>Ratings: </strong><br>
                    <span> {{ratingArr[j]}}</span> 
                </div>
            </div>
        </div>
        
    </li>
</ul>

