.list{
  margin: 25px 0;
  width: 100px;
  border: 2px solid blue;
}

.userList{
  margin: 25px 0;
  width: 400px;
  border: 2px solid blue;
}

.edit{
  margin-top:-127px;
  margin-left: 110px;
  width: 325px;
  border: 2px solid black;
}

.addItem{
  border: 2px solid black;
  width: 270px;
}

#Ratings{
  width:200px;
}

#descContainer{
  margin-top:15px;
  border: 2px solid red;
  width:220px;
}

.updatebtn{
  width:150px;
}

#delete{
  width:100px;
}

#admin{
  margin-left: 140px;
}