<div align="center">
  <h1>Shopping Cart Web App</h1> <br>

  <div class="about">
    <h3>About: </h3>

    <p>
      This is a web application that allows you to create an account, simulate the purchase
      of items, add items to your shopping cart, view reviews for the item, and leave your own review.
      You can also log in as a manager and edit the available items that can be purchased.
    </p>
  </div>

  <br>
  <a routerLink="/signup">Sign up</a><br>
  <a routerLink="/login">Log in as User</a><br>
  <a routerLink="/admin">Log in as Manager</a><br>
  <a routerLink="/unAuth">Proceed Without an Account</a>

</div>